body { 
      position: absolute;
      text-shadow: 1px 1px;
      font-weight: 200px;
      font-size:smaller;
      padding-left: 30%;
      background-image: url(a.webp);
   
}
.fix {
    position:fixed;
    bottom:0px;
    left: 1000px;
    width: 500px;
    height: 500px;

}

#result{
  color: #f34079;
  font-size:larger;
  font-weight: 200px;
}
h1 {
    top: 0;
    text-shadow: 1px 1px;
    width: 200px;
    margin-top: 0;
    padding: 5px;

  }
.logo {
    width: 200px;
    height: 200px;
  }
.joinBtn {
    width: 10em;
    height: 5ex;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.joinBtn:active {
    box-shadow: 2px 2px 5px #fc894d;
}
